.header {

}

.logo {

}
.banner {
background-color: $primary-color;
  min-height: 82vh;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include align-content(center);
  @include flex-direction(column);
  a.btn {
   position: absolute;
    left:10px;
    top:10px;
  }
}

