.select2-container {
 width: 100% !important;
  .select2-selection__choice {
    background-color: $primary-color !important;
    color: white;
    @include border-default(white);
    box-shadow: none;
  }
}
