.pagination {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
  li {
    list-style: none;
    a {
      @include flexbox();
      @include flex-wrap(wrap);
      @include justify-content(center);
      @include align-items(center);
    }
    background-color: $primary-color;
  }
  a {
    font-weight: 300;
    padding-top: 1px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-left-width: 0;
    min-width: 44px;
    min-height: 44px;
    color: white;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  }
  li {
    &:not([class*="current"]) a {
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-top-color: rgba(0, 0, 0, 0.35);
        border-bottom-color: rgba(0, 0, 0, 0.5);
      }
      &:focus, &:active {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
        border-left-width: 1px;
      }
    }
    &:first-of-type {
      a {
        border-left-width: 1px;
      }
      span {
        /* screen readers only */
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }
    &:last-of-type span, &:nth-of-type(2) span, &:nth-last-of-type(2) span {
      /* screen readers only */
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    &:first-child a::before, &:last-child a::after, &:nth-of-type(2) a::before, &:nth-last-of-type(2) a::after {
      display: inline-block;
      font-family: Fontawesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
    }
    &:first-child a::before, &:last-child a::after {
      content: "\f100";
    }
    &:nth-of-type(2) a::before, &:nth-last-of-type(2) a::after {
      content: "\f104";
    }
    &:last-child a::after, &:nth-last-of-type(2) a::after {
      transform: rotate(180deg);
    }
    &.current a {
      padding-top: .25em;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(255, 255, 255, 0.15);
      box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
      cursor: default;
      pointer-events: none;
    }
  }
}

@media only screen and (max-width: 64.063em) {
  .pagination li {
    &:first-child, &:last-child {
      /* screen readers only */
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    &:nth-of-type(2) a {
      border-left-width: 1px;
    }
  }
}

@media only screen and (max-width: 40.063em) {
  .pagination li {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
    &.current, &:first-of-type, &:last-of-type, &:nth-of-type(2), &:nth-last-of-type(2) {
      position: initial;
      top: initial;
      left: initial;
    }
    &:nth-of-type(2) a {
      border-left-width: 0;
    }
  }
}

@media only screen and (max-width: 30.063em) {
  .pagination li {
    &:first-child, &:last-child {
      /* screen readers only */
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    &:nth-of-type(2) a {
      border-left-width: 1px;
    }
  }
}

@media only screen and (max-width: 15.063em) {
  /* For watches? */
  .pagination li {
    width: 50%;
    &.current {
      order: 2;
      width: 100%;
      border-left-width: 1px;
    }
  }
}
